<%- include('adminNav') %>

<div class="container container-add-products">
    <div class="add-products">
        <form action="/admin/addproduct" method="post" enctype="multipart/form-data" id="add-product-form">
            <div class="row d-flex justify-content-center align-content-center ">
                <div class="col-6">
                    <label class="form-label " for="productName">Product Name</label>
                    <input class="form-control form-input " type="text" name="productName" id="productName" required>


                    <label class="form-label " for="productPrice">Price</label>
                    <input class="form-control form-input" type="text" name="productPrice" id="productPrice" required>


                    <div>
                    
                    <label class="form-label " for="productCollection">Collection</label>
                    <select name="productCollection" id="productCollection" class="form-control form-input" required>
                        <option value="" selected disabled>Select a category</option>
                        <% productCollection.forEach((collection)=> { %>
                            <option value="<%= collection.collectionName %>">
                                <%= collection.collectionName %>
                            </option>
                            <% }) %>
                    </select>
                    </div>


                    <label class="form-label " for="productQuantity">Stock</label>
                    <input class="form-control form-input" type="text" name="productQuantity" id="productQuantity" required>
                    
                </div>

                <div class="col-6">
                    <label for="productDescription" class="form-label">Description</label>
                    <textarea class="form-control form-input" name="productDescription" id="productDescription" required></textarea>
                </div>

                <div class="d-flex justify-content-center mt-3  ">
                    <input type="file" name="image" id="image-upload" accept="image/png, image/jpeg" multiple class="d-none">
                    <label for="image-upload" class="btn submit-btn">ChooseImages</label>
                </div>

                <div class="image-upload-preview" id="image-upload-preview"></div>
            </div>

        </form>
    </div>

    <div class="text-center mt-3">
        <a href="/admin/products" class="btn submit-btn-light">Cancel</a>
        <button type="submit" class="btn submit-btn" name="" form="add-product-form" id="submit-form" >Add Product</button>
    </div>

</div>

<!-- Cropper js Modal -->
<div class="modal fade" id="cropperModal">
    <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body">
          <div class="img-container">
            <img id="image-to-crop" src="">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn submit-btn-light" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn submit-btn" id="crop-button">Crop</button>
        </div>
      </div>
    </div>
  </div>
  


<%- include('adminFooter') %>