<%- include('layout') %>
<%- include('adminNav') %>

<div class="container-home ">
    <div class="d-flex justify-content-around">
        <div class="bg-light">Hello</div>
        <div class="bg-light">Hello</div>
        <div class="bg-light">Hello</div>
        <div class="bg-light">Hello</div>
    </div>
</div>


<%- include('adminFooter') %>

