
<div class="text-center mt-5"><h1>SEE COLLECTIONS</h1></div>
<div class="collection-list-container my-5">

    <a href="/explore" class="collection-list headphone-list"></a>
    <a href=""  class="collection-list earbuds-list"></a>
    <a href="" class="collection-list speakers-list"></a>
</div>