
<div class="text-center mt-5"><h1>SEE COLLECTIONS</h1></div>
<div class="collection-list-container my-5">

    <a href="/user/explore?collections=Headphones" class="collection-list headphone-list atag"></a>
    <a href="/user/explore?collections=Earphones"  class="collection-list earbuds-list atag"></a>
    <a href="/user/explore?collections=Speakers" class="collection-list speakers-list atag"></a>
</div>