<%- include('nav') %>

<div class="login d-flex justify-content-center my-5 ">
    <div class="login-form-container d-flex flex-column  text-center ">
        <h2 class="text-center">Reset the Password</h2>
        <p class="text-center">Enter your email to reset</p>
        <form action="/user/forgotpassword" method="post">
            <div class="form-group">
                <input type="email" class="form-control form-input" name="email" placeholder="Email Address" required>
            </div>
            <button type="submit" class="btn submit-btn">Enter email</button>
        </form>
    </div>
</div>

<%- include('../admin/adminFooter') %>