
<div class="mb-5">
    <div class="banner">
        <img src="/public/assets/banner.png" alt="" class="img-fluid">
    </div>
    <div class="overlay-content">
        <h2>HEAR ME</h2>
        <p>Buy premium headphones, earbuds and speakers</p>
        <a href="/user/explore" class="btn submit-btn">Shop Now</a>
    </div>
</div>