<%- include('../admin/layout') %>

<style>
    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-menu{
        background-color: #D5D2FF;
    }

    .dropdown-menu li a:hover{
        overflow: hidden;
        background-color: #2b0a5a;
        color: white;
    }

    .dropdown-menu li a:focus{
        background-color: #2b0a5a;
    }
    .dropdown-menu{
        box-shadow: 0px 2px 2px 0px #2b0a5a;
    }

</style>

<header class="nav-bar pt-5 mb-0" >
    <div class="container d-flex justify-content-between mb-4">
        <h1 class="h3 mb-0 fs-2 website-head"><a href="/user/home">HEAR ME</a></h1>
        <div class="icons d-flex justify-content-between   align-items-center gap-5">
                <form action="" class="d-flex align-content-center  search-nav">
                    <input type="text" class="form-input form-control" placeholder="search" autocomplete="off">
                    <i class="bi bi-search"></i>
                </form>
                <a class="icons d-flex flex-column align-items-center" href="/user/wishlist">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#10051F" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                </a>
                <a class="icons d-flex flex-column align-items-center" href="/user/cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#10051F" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                </a>
                <% if(user) {%>

                <!-- <a class="icons d-flex flex-column align-items-center" href="/user/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#10051F" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg>
                </a> -->

                <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#10051F" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                </a>

                <div class="dropdown d-flex flex-column align-items-center">
                    
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/user/profile">My Account</a></li>
                      <li><a class="dropdown-item" href="/user/orders">Orders</a></li>
                      <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                  </div>

                <% }else{%>
                    <a class="icons d-flex flex-column align-items-center btn submit-btn-light" href="/user/profile">
                        Login
                    </a>
                <% } %>
        </div>
    </div>
    <div class="nav-line w-100"></div>
</header>

<% if(success.length > 0) { %>

    <div class="alert-container">
        <div class="alert d-flex justify-content-between" role="alert">
            <h5><%= success %></h5>
            <button class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
    
    <% } %>
    
    
    <% if(error.length > 0) { %>
    
    <div class="alert-container ">
        <div class="alert alert-error d-flex justify-content-between" role="alert">
            <h5><%= error %></h5>
            <button class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
    
    <% } %>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

