


<div class="card-container d-flex justify-content-around my-4">
    <% for(let i=0; i<product.length && i< 3; i++  ) { %>
    <div class="product-card d-flex flex-column justify-content-start ">
        <a href="/user/product/<%= product[i].id %>" class="image-card">
            <img src="../../<%= product[i].productImage[0] %>" alt="">
        </a>
        <h3 class="mt-3"><%= product[i].productName %></h3>
        <h5><i class="bi bi-currency-rupee"></i><%= product[i].productPrice %></h5>
    </div>
    <% } %>
    
</div>