<%- include('nav') %>

<div class="login d-flex justify-content-center my-5 ">
    <div class="login-form-container d-flex flex-column  text-center ">
        <h2 class="text-center">Reset the Password</h2>
        <p class="text-center">Enter your email to reset</p>
        <form action="/user/resetpassword" method="post">
            <div class="form-group d-flex flex-column gap-3" >
                <input type="password" class="form-control form-input" name="password" placeholder="Password" required>
                <input type="password" class="form-control form-input" name="confirmPassword" placeholder="Confirm password" required>
            </div>
            <button type="submit" class="btn submit-btn">Save</button>
        </form>
    </div>
</div>

<%- include('../admin/adminFooter') %>