<%- include('nav') %>

<div class="login d-flex justify-content-center my-5 ">
    <div class="login-form-container d-flex flex-column  text-center ">
        <h2 class="text-center">Reset the Password</h2>
        <p class="text-center">Enter your email to reset</p>
        <form action="/user/resetpassword" method="post" id="reset-form">
            <div class="form-group d-flex flex-column gap-3" >
                <div class="form-group position-relative d-flex align-items-center">
                    <input type="password" class="form-control form-input" id="pass-reset" name="password" placeholder="Password" required>
                    <span id="toggle-password" onclick="togglePassword('pass-reset',this)" class="me-1 password-toggle align-content-center position-absolute end-0"><i class="bi bi-eye"></i></span>
                </div> 
                <div class="form-group position-relative d-flex align-items-center">
                    <input type="password" class="form-control form-input" id="confirm-reset" name="confirmPassword" placeholder="Confirm password" required>
                    <span id="toggle-password" onclick="togglePassword('confirm-reset',this)" class="me-1 password-toggle align-content-center position-absolute end-0"><i class="bi bi-eye"></i></span>
                </div>
                <span class="reset-error" style="display: none; color: red;" >Password doesnot match</span>
            </div>
            <button type="submit" class="btn submit-btn">Save</button>
        </form>
    </div>
</div>

<script>

    function togglePassword(id,toggle){
        const field = document.getElementById(id)
        const type =  field.getAttribute('type') === 'password' ? 'text' : 'password';
        field.setAttribute('type',type)
        toggle.innerHTML = type === 'password' ? '<i class="bi bi-eye"></i>' : '<i class="bi bi-eye-slash"></i>';
    }

   function password() {
    const pass = document.getElementById('pass-reset').value;
    const confirm = document.getElementById('confirm-reset').value;

    if (pass !== confirm) {
        document.getElementById('signup-error').style.display = 'block';
    } else {
        document.getElementById('signup-error').style.display = 'none';
    }
}

document.getElementById('pass-reset').addEventListener('input', password);
document.getElementById('confirm-reset').addEventListener('input', password);


document.getElementById('reset-form').addEventListener('submit',()=>{
    event.preventDefault();

    const pass = document.getElementById('pass-reset').value;
    const confirm = document.getElementById('confirm-reset').value;

    const capitalLetterRegex = /^[A-Z]/;
    const letterNumberRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8}$/;
    let isValid = true;

    if (!capitalLetterRegex.test(pass)) {
        isValid = false;
        Swal.fire({
            title: "Invalid Password",
            text: "Password must start with a capital letter.",
            icon: "error"
        });
        return;
    }

    if (!letterNumberRegex.test(pass)) {
        isValid = false;
        Swal.fire({
            title: "Invalid Password",
            text: "Password must be 8 characters long and contain both letters and numbers.",
            icon: "error"
        });
        return;
    }

    if (pass !== confirm) {
        isValid = false;
        Swal.fire({
            title: "Password Mismatch",
            text: "Passwords do not match.",
            icon: "error"
        });
        return;
    }

    if (isValid) {
            document.getElementById('reset-form').submit();
    }
})


</script>

<%- include('../admin/adminFooter') %>