<%- include('nav') %>

<div class="otp-container">
    <div class="otp-box">
        <h2>Enter OTP Code</h2>
        <small>One Time Password (OTP) has been sent via Email to</small>

        <!-- email address from backend -->
        <b id="OTP-email">
         
            
            <%= email %>

        </b>
        <small>Enter the OTP below to verify it</small>
        <form action="/user/verify" method="post">
            <input type="text" name="otp" minlength="6" maxlength="6" class="form-input form-control " required>

            <small id="otp-timer-box">OTP is valid for <input type="text" class="form-input form-control" id="otp-timer"></input></small>


            <input type="text" class="" value="<%= otpTime %>" id="otp-sended-time" hidden>

            <button class="btn submit-btn" type="submit" id="otp-btn">Verify OTP</button>
        </form>
    </div>
</div>

<%- include('../admin/adminFooter') %>